.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.card-container .card{
    width: 30vw;
    padding: 0 0 8px 0;
    overflow: hidden;
}
.cards h2{
    background-color: #ededff;
    padding: 10px;
    text-align: center;
}
.cards h3{
    font-size: xxx-large;
    font-weight: bold;
    margin: 4px 24px -4px 24px;
    color: #22C55E;
}
.cards p{
    margin: 0 24px;
    color: #6B7280;
}
.cards #mid{
    background-color: #edfff4;
}
.cards .mid-btn{
    background-color: #2FAE7A;
}
#completed-habits{
    color: #4f46e5;
}

.btn{
    background-color: #6366F1;
    margin: 12px 24px;
    width: 100%;
    max-width: 300px;
}
.card-container .cards:hover{
    transform: none;
}


.bottom-section {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.bottom-section .card {
  flex: 1;
  background: #ffffff;
  padding: 24px 48px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.06);
}


/* TASKS */
.tasks{
    padding: 36px;
}

.card-header h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
  gap: 24px;
}

.checkbox{
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.task-time{
    margin-left: 160px;
}
.t2{
    margin-left: 192px;
}
.t3{
    margin-left: 177px;
}
.task-desc{
    color: #6B7280;
    font-size: small;
}

.primary{
    width: 100%;
    background-color: #6366F1;
}

.bottom-section .card:hover{
    transform: none;
}

/* HABITS */
.habits{
    padding: 36px 0 36px 36px;
}
.content{
    display: flex;
    justify-content: end;
    align-items: end;
}
.img{
    height: 220px;
    margin: 0 -70px -50px auto;
}
.img img{
    height: 100%;
}
h2 span{
    font-size: medium;
    font-weight: 500;
}
.percent{
    color: #6B7280;
    margin-bottom: 12px;
}
.habit-item{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}
.pending{
    gap: 8px;
}
.secondary{
    width: 100%;
    margin-top: 16px;
}